/* General */
body {
  background-color: rgb(248, 249, 252);
  font-family: "Raleway", sans-serif; /* Options: Asap, Raleway. More at https://fonts.google.com/ */
  color: #404040;
}

/* Header */
header {
  background: linear-gradient(90deg, white 15%, #b4c6e7);
  /* ffd966 404040 b4c6e7 */
  border: 1px solid rgb(231, 229, 229);
  border-radius: 25px;
  padding: 1%;
}

.arcarius-yellow {
  color: #ffd966;
}

.arcarius-grey {
  color: #404040;
}

.arcarius-blue {
  color: #b4c6e7;
}

.arcarius-logo {
  padding-top: 1%;
  margin-bottom: -6%;
  margin-left: -4%;
}

/* Navigation */
nav {
  list-style-type: none;
  margin-top: 2%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
}

.navigation-list-item {
  display: inline-block;
}

.navigation-link {
  flex: 1;
  text-decoration: none;
  font-weight: bold;
  color: #404040;
}

nav > li > a:hover {
  color: #ffd966; /* Options: c29407, dea214, e2a30b b98405*/
  stroke: #404040;
}

/* Main */
/* Sections */
.section-header {
  margin: 2%;
  color: #b4c6e7; /* Options: c29407, dea214, e2a30b b98405 404040 ffd966 b4c6e7*/
}
section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: 2%;
}

/* Articles */
article {
  flex: 1;
  border: 1px solid rgb(231, 229, 229);
  border-radius: 25px;
  margin: 1.5%;
  background-color: white;
}

article h2 {
  padding: 3%;
}

.list-details {
  list-style: none;
}
